@use 'tokens/variables' as tokens;

.ds-card {
  background: tokens.$ds-background-background-color-primary-default;
  border-radius: tokens.$ds-corner-corner-radius-md;
  transition: all 0.2s ease;

  &--flat {
    border: none;
    box-shadow: none;
  }

  &--elevated {
    box-shadow: 0 tokens.$ds-spacing-scale-4-size-4 tokens.$ds-spacing-scale-4-size-12 rgba(tokens.$ds-color-neutral-neutral-900, 0.1);

    &:hover {
      box-shadow: 0 tokens.$ds-spacing-scale-4-size-8 tokens.$ds-spacing-scale-4-size-20 rgba(tokens.$ds-color-neutral-neutral-900, 0.15);
      transform: translateY(-2px);
    }
  }

  &--outlined {
    border: tokens.$ds-stroke-stroke-xs solid tokens.$ds-border-border-color-secondary-default;
  }

  &--padding-none {
    padding: 0;
  }

  &--padding-sm {
    padding: tokens.$ds-layout-spacing-md;
  }

  &--padding-md {
    padding: tokens.$ds-layout-spacing-xl;
  }

  &--padding-lg {
    padding: tokens.$ds-layout-spacing-xxl tokens.$ds-layout-spacing-xl;
  }
}
