@use 'tokens/variables' as tokens;

.ds-badge {
  display: inline-flex;
  align-items: center;
  font-family: tokens.$ds-font-inter;
  font-weight: tokens.$ds-font-weight-font-weight-500;
  border-radius: tokens.$ds-corner-corner-radius-sm;
  white-space: nowrap;

  &--sm {
    padding: tokens.$ds-spacing-scale-4-size-4 tokens.$ds-layout-spacing-xs;
    font-size: tokens.$ds-font-size-font-size-100;
  }

  &--md {
    padding: tokens.$ds-spacing-scale-4-size-4 tokens.$ds-layout-spacing-sm;
    font-size: tokens.$ds-font-size-font-size-200;
  }

  &--default {
    background: tokens.$ds-color-neutral-neutral-200;
    color: tokens.$ds-color-neutral-neutral-700;
  }

  &--accent {
    background: tokens.$ds-background-background-color-accent-default;
    color: tokens.$ds-text-default-text-color-accent-default;
  }

  &--success {
    background: tokens.$ds-background-background-color-success-default;
    color: tokens.$ds-text-default-text-color-success-default;
  }

  &--warning {
    background: tokens.$ds-background-background-color-warning-default;
    color: tokens.$ds-text-default-text-color-warning-default;
  }

  &--error {
    background: rgba(tokens.$ds-color-red-red-500, 0.1);
    color: tokens.$ds-text-default-text-color-error-default;
  }
}
